[submodule "plugins/pods-json-api"]
	path = plugins/pods-json-api
	url = https://github.com/pods-framework/pods-json-api.git
[submodule "plugins/wpsite-limit-posts"]
	path = plugins/wpsite-limit-posts
	url = https://github.com/mgratch/wpsite-limit-posts.git
[submodule "plugins/client-js"]
	path = plugins/client-js
	url = https://github.com/WP-API/client-js.git
[submodule "themes/_s_backbone"]
	path = themes/_s_backbone
	url = https://github.com/mgratch/_s_backbone.git
