[submodule "plugins/pods-json-api"]
	path = plugins/pods-json-api
	url = https://github.com/pods-framework/pods-json-api.git
[submodule "plugins/wpsite-limit-posts"]
	path = plugins/wpsite-limit-posts
	url = https://github.com/mgratch/wpsite-limit-posts.git
